@import url("fonts/fonts.css") screen;
body {
background-color: #000000;
color: #ffffff;
}
#container {
	background: transparent url('../img/landingbg2.jpg') no-repeat center top;
	}
	#container-wp{
		width: 500px;
		margin: 0 auto;
		text-align:center;
		padding-bottom: 200px;	}
	
	#container-wp img {
		margin-top: 100px;
	}
	
	#container-wp h1 {
		font-family: 'dinbold';
		font-weight: normal;
		font-size: 34pt;
		line-height: 0px;	}
	#container-wp p {
		font-family: 'dinregular';
		font-weight: normal;
		font-size: 10pt;
	}
		p#mail {
			font-size: 16pt;
			line-height: 0;
			margin-bottom: 70px;
		}
		